
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Typescript</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>{{message}}</h2>
            <hr>
            <h3>Variables in Typescript</h3>
            <p>{{name}}</p>
            <p>The Employee ACE number is {{empid}}</p>
        </div>
        <hr>
        <div class="col">
            <h3>Operators in Typescript</h3>
            <p>The Addition value is {{outputResult}}</p>
            <p>The Subtraction value is {{outputResult1}}</p>
            <p>The Multiplications value is {{outputResult2}}</p>
            <p>The Division value is {{outputResult3}}</p>
        </div>
        <hr>
        <div class="col">
            <h3>Relational Operator in Typescript</h3>
            <p>The And Operator value is {{outputResult4}}</p>
            <p>The OR Operator value is {{outputResult5}}</p>
            <p>The NOT Operator value is {{outputResult6}}</p>
            <p>The Greater value is {{outputResult7}}</p>
        </div>
        <hr>
        <div class="col">
            <h3>Assignment Operator in Typescript</h3>
            <p>The Assign value is {{outputResult8}}</p>
            <p>The Assign value is {{outputResult9}}</p>
            <p>The Assign value is {{outputResult10}}</p>
            <p>The Assign value is {{outputResult11}}</p>
        </div>
        <hr>
        <div class="col">
            <h3>Loops in Typescript</h3>
            <p>The Assign value is {{outputResult12}}</p>
            <!-- <p>The Assign value is {{outputResult13}}</p> -->
            <ul>
                <li *ngFor="let a of testloop; let index1 = index">Excute Loop {{ index1 }}</li>
            </ul>
        </div>
        <hr>
        <div class="col">
            <h3>Functions in Typescript</h3>
            <p>Welcome to the Named {{res}}</p>
            <hr>
        </div>
    </div>
</div>
<app-typescript></app-typescript>
<app-customobservables></app-customobservables>
<hr>
<app-emp-info></app-emp-info>
<hr>